h1 {
  text-align: center;
}

h3 {
  text-align: center;
}
.column {
  float: left;
  padding: 47px;
  background-color: red;
}

.column2 {
  float: left;
  padding: 47px;
  background-color: green;
}

.column3 {
  float: left;
  padding: 47px;
  background-color: yellow;
}
